.arrow {
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.pages {
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
