.arrow {
  cursor: pointer;
  width: 60px;
  height: 60px;
  color: #0369a1;
  transition: all 0.2s ease-in-out;
}

.arrow:hover {
  color: #075985;
}

.arrow:active {
  color: #075985;
  transform: translateY(2px);
}

.arrow.disabled {
  color: #94a3b8;
  cursor: default;
}

.arrow.disabled:hover {
  transform: scale(1);
}

.pages {
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

@media not all and (min-width: 768px) {
  .container {
    display: grid;
  }

  .weather {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .arrow:first-child {
    margin-top: 20px;
    width: 50px;
    order: 2;
    justify-self: center;
  }

  .arrow:last-child {
    margin-top: 20px;
    width: 50px;
    order: 3;
    justify-self: center;
  }
}
